<h1>Detalhes do Usuário</h1>

<p>
  <strong>ID:</strong> <%= @usuario.id %>
</p>
<p>
  <strong>Nome:</strong> <%= @usuario.nome %>
</p>
<p>
  <strong>Email:</strong> <%= @usuario.email %>
</p>
<p>
  <strong>Papel:</strong> <%= @usuario.papel %>
</p>

<% if @usuario.papel == 'fornecedor' %>
  <p>
    <strong>Categorias:</strong>
    <%= @usuario.categorias.map(&:nome).join(', ') %>
  </p>
<% end %>

<%= link_to 'Editar', edit_admin_usuario_path(@usuario) %> |
<%= link_to 'Voltar', admin_usuarios_path %>
