<h1>Minhas Cotações</h1>

<table class="min-w-full divide-y divide-gray-200">
  <thead>
    <tr>
      <th class="px-4 py-2">ID da Cotação</th>
      <th class="px-4 py-2">Data de Criação</th>
      <th class="px-4 py-2">Data de Validade</th>
      <th class="px-4 py-2">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @cotacoes.each do |cotacao| %>
      <tr>
        <td class="px-4 py-2"><%= cotacao.id %></td>
        <td class="px-4 py-2"><%= cotacao.created_at.strftime('%d/%m/%Y') %></td>
        <td class="px-4 py-2"><%= cotacao.data_validade.strftime('%d/%m/%Y') %></td>
        <td class="px-4 py-2">
          <%= link_to 'Visualizar', cotacao_path(cotacao), class: "text-blue-500 underline" %> |
          <%= link_to 'Selecionar Pedidos', selecionar_pedidos_cotacao_path(cotacao), class: "text-green-500 underline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
