<!-- app/views/admin/fornecedores/show.html.erb -->

<h1>Fornecedor: <%= @fornecedor.nome %></h1>

<p><strong>Email:</strong> <%= @fornecedor.email %></p>
<p><strong>Telefone:</strong> <%= @fornecedor.telefone %></p>

<% if @fornecedor.assinatura&.imagem_assinatura&.attached? %>
  <p><strong>Assinatura de <%= @fornecedor.nome %>:</strong></p>
  <%= image_tag @fornecedor.assinatura.imagem_assinatura, width: 200 %>
<% else %>
  <p>Nenhuma assinatura cadastrada.</p>
<% end %>

<%= link_to 'Editar', edit_admin_fornecedor_path(@fornecedor), class: 'btn btn-secondary' %>
