<h1>Bem-vindo ao Dashboard do Fornecedor</h1>

<ul>
  <li>
    <%= button_to "Sair", destroy_usuario_session_path, method: :delete, data: { confirm: "Tem certeza que deseja sair?" } %>
  </li>
</ul>

<h2>Cotações Disponíveis</h2>
<% if @respostas.any? %>
  <table class="table-auto w-full border-collapse">
    <thead>
      <tr class="bg-gray-100 border-b">
        <th class="px-2 py-2">Cotação</th>
        <th class="px-2 py-2">Data de Validade da Cotação</th>
        <th class="px-2 py-2">Status</th>
        <th class="px-2 py-2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @respostas.each do |resposta| %>
        <tr class="border-b">
          <td class="px-2 py-2">
            <%= "Cotação ##{resposta.cotacao.id}" %>
          </td>
          <td class="px-2 py-2">
            <% if resposta.cotacao.data_validade.present? %>
              <%= resposta.cotacao.data_validade.strftime("%d/%m/%Y") %>
            <% end %>
          </td>
          <td class="px-2 py-2"><%= resposta.status.capitalize %></td>
            <td class="px-2 py-2">
              <% if resposta.status == "aguardando assinatura" %>
                <%= link_to "Responder", edit_fornecedores_resposta_de_cotacao_path(resposta), class: "text-blue-600" %>
                <%= link_to "Upload do Documento Assinado", upload_documento_fornecedores_resposta_de_cotacao_path(resposta), class: "ml-4 text-green-600" %>
              <% elsif resposta.status == "finalizado" %>
                <%= link_to "Baixar Cotação Enviada", rails_blob_path(resposta.documento_assinado, disposition: "attachment"), class: "text-blue-600" %>
                <%#= link_to "Visualizar Cotação", resposta.documento_assinado.representable? ? rails_blob_path(resposta.documento_assinado, disposition: "inline") : "#", class: "ml-4 text-green-600" %>
              <% else %>
                <%= link_to "Responder", edit_fornecedores_resposta_de_cotacao_path(resposta), class: "text-blue-600" %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não há respostas de cotação disponíveis.</p>
<% end %>
