<%= render 'customers/shared/navbar', titulo: "Detalhes da cotação" %>

<div class="container mx-auto py-6 px-4">
  <div class="bg-white shadow-lg rounded-xl p-6 mb-8">

    <!-- Título da Cotação -->
    <% if @quotation.title.present? %>
      <h1 class="text-2xl font-bold text-gray-800 mb-4">
        <%= @quotation.title %>
      </h1>
    <% end %>

    <!-- Data de Validade -->
    <p class="mb-2 text-lg">
      <strong class="text-gray-700">Data limite de conclusão de compra:</strong>
      <span class="text-gray-900"><%= @quotation.expiration_date.strftime('%d/%m/%Y') %></span>
    </p>

    <!-- Observações Gerais -->
    <% if @quotation.general_comment.present? %>
      <p class="mb-4 text-lg">
        <strong class="text-gray-700">Observações Gerais:</strong>
        <span class="text-gray-900"><%= @quotation.general_comment %></span>
      </p>
    <% end %>

    <!-- Ações da Cotação -->
    <div class="mt-6">
      <%= quotation_action_buttons(@quotation) %>
    </div>


    <!-- Itens da Cotação -->
    <h2 class="text-xl font-semibold text-gray-800 mb-3">Itens da Cotação</h2>
    <div class="overflow-x-auto rounded-lg border border-gray-200">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-100 border-b">
          <tr>
            <th class="px-4 py-2 text-left">Produto</th>
            <th class="px-4 py-2 text-left">Quantidade</th>
            <th class="px-4 py-2 text-left">Unidade</th>
            <th class="px-4 py-2 text-left">Comentário</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @quotation.quotation_items.includes(:product).each do |item| %>
            <% customized = current_user.customized_products.find_by(product_id: item.product_id) %>
            <% nome = customized&.custom_name.presence || item.product.generic_name %>
            <tr class="hover:bg-gray-50">
              <td class="px-4 py-2"><%= nome %></td>
              <td class="px-4 py-2"><%= item.quantity %></td>
              <td class="px-4 py-2"><%= item.selected_unit %></td>
              <td class="px-4 py-2"><%= item.product_comment.presence || '-' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
