<h1>Bem-vindo ao Dashboard do Fornecedor</h1>

<ul>
  <li>
    <%= button_to "Sair", destroy_user_session_path, method: :delete, data: { confirm: "Tem certeza que deseja sair?" } %>
  </li>
</ul>

<h2>Cotações Disponíveis</h2>
<% if @quotation_responses.any? %>
  <table class="table-auto w-full border-collapse">
    <thead>
      <tr class="bg-gray-100 border-b">
        <th class="px-2 py-2">Cotação</th>
        <th class="px-2 py-2">Data de Validade da Cotação</th>
        <th class="px-2 py-2">Status</th>
        <th class="px-2 py-2">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @quotation_responses.each do |quotation_response| %>
        <tr class="border-b">
          <td class="px-2 py-2">
            <%= "Cotação ##{quotation_response.quotation.id}" %>
          </td>
          <td class="px-2 py-2">
            <% if quotation_response.quotation.expiration_date.present? %>
              <%= quotation_response.quotation.expiration_date.strftime("%d/%m/%Y") %>
            <% end %>
          </td>
          <td class="px-2 py-2"><%= quotation_response.status.capitalize %></td>
          <td class="px-2 py-2">
            <% if quotation_response.status == "aguardando assinatura" %>
              <%= link_to "Imprimir PDF", pdf_suppliers_quotation_response_path(quotation_response), class: "text-blue-600" %>
              <%= link_to "Upload do Documento Assinado", upload_document_suppliers_quotation_response_path(quotation_response), class: "ml-4 text-green-600" %>
            <% elsif quotation_response.status == "finalizado" %>
              <%= link_to "Imprimir PDF", pdf_suppliers_quotation_response_path(quotation_response), class: "text-blue-600" %>
            <% else %>
              <%= link_to "Responder", edit_suppliers_quotation_response_path(quotation_response), class: "text-blue-600" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não há respostas de cotação disponíveis.</p>
<% end %>
