<h1>Detalhes do Produto</h1>

  <strong>Nome Genérico:</strong> <%= @produto.nome_generico %>
</p>
<p>
  <strong>Marca:</strong> <%= @produto.marca %>
</p>
<p>
  <strong>Unidade Sugerida:</strong> <%= @produto.opcoes_unidades %>
</p>

<% if current_usuario&.papel == 'cliente' %>
  <hr>
  <h2>Definir Nome Customizado</h2>
  <%= form_tag produto_produto_customizados_path(@produto), method: :post do %>
    <%= text_field_tag :nome_customizado, "" %>
    <%= submit_tag "Salvar" %>
  <% end %>
<% end %>


<%= link_to "Voltar", produtos_path %>
