<%= render 'admin/shared/navbar', titulo: "Detalhes da Resposta de Cotação" %>

<div class="container mx-auto py-6 px-4">
  <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-xl p-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Resposta da Cotação #<%= @quotation_response.id %></h2>

    <div class="space-y-4">
      <p><strong>Fornecedor:</strong> <%= @quotation_response.supplier.name %></p>
      <p><strong>Status do Fornecedor:</strong> <%= @quotation_response.status.capitalize %></p>
      <p><strong>Status da Análise:</strong>
        <% if @quotation_response.analysis_status == "pendente_de_analise" %>
          <span class="px-2 py-1 text-sm font-medium text-yellow-700 bg-yellow-100 rounded-full">
            🟡 Pendente de Análise
          </span>
        <% elsif @quotation_response.analysis_status == "aprovado" %>
          <span class="px-2 py-1 text-sm font-medium text-green-700 bg-green-100 rounded-full">
            ✅ Aprovado
          </span>
        <% elsif @quotation_response.analysis_status == "cotacao_nao_aceita" %>
          <span class="px-2 py-1 text-sm font-medium text-red-700 bg-red-100 rounded-full">
            ❌ Cotação não aceita
          </span>
        <% else %>
          <span class="px-2 py-1 text-sm font-medium text-gray-700 bg-gray-100 rounded-full">
            -
          </span>
        <% end %>
      </p>
      <p><strong>Data de Validade:</strong> <%= @quotation_response.expiration_date.strftime("%d/%m/%Y") if @quotation_response.expiration_date %></p>

      <% if @quotation_response.status == "finalizado" && @quotation_response.signed_document.attached? %>
        <div class="mt-4">
          <strong>Documento Enviado:</strong>
          <%= link_to "📄 Visualizar PDF", rails_blob_path(@quotation_response.signed_document, disposition: "inline"), target: "_blank", class: "text-blue-600 hover:underline" %>
        </div>
      <% else %>
        <p class="text-red-500 mt-4">❌ Nenhum documento enviado ou resposta não finalizada.</p>
      <% end %>
    </div>



    <h3 class="text-xl font-semibold text-gray-700 mt-6">Itens da Cotação</h3>
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200 mt-2">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 text-left">Produto</th>
            <th class="px-4 py-2 text-left">Quantidade</th>
            <th class="px-4 py-2 text-left">Unidade</th>
            <th class="px-4 py-2 text-left">Preço</th>
            <th class="px-4 py-2 text-left">Disponível?</th>
            <th class="px-4 py-2 text-left">Total</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @quotation_response.quotation_response_items.each do |item| %>
            <tr class="hover:bg-gray-50">
              <td class="px-4 py-2"><%= item.quotation_item.product.generic_name %></td>
              <td class="px-4 py-2"><%= item.quotation_item.quantity %></td>
              <td class="px-4 py-2"><%= item.quotation_item.selected_unit %></td>
              <td class="px-4 py-2">
                <% if item.available %>
                  <span class="text-green-700 font-semibold">R$ <%= number_with_precision(item.price, precision: 2) %></span>
                <% else %>
                  <span class="text-red-600">Indisponível</span>
                <% end %>
              </td>
              <td class="px-4 py-2 text-center">
                <% if item.available %>
                  ✅
                <% else %>
                  ❌
                <% end %>
              </td>
              <td class="px-4 py-2">
                <% if item.available %>
                  <span class="font-semibold">R$ <%= number_with_precision(item.price * item.quotation_item.quantity, precision: 2) %></span>
                <% else %>
                  –
                <% end %>
              </td>

            </tr>
          <% end %>

      <!-- Total da Cotação -->
      <% total_quotation = @quotation_response
        .quotation_response_items
        .sum { |item| item.price * item.quotation_item.quantity } %>

      <tr>
        <td colspan="5" class="px-4 py-2 text-left font-semibold">
          
        </td>
        <td class="px-4 py-2 text-left font-bold">
          R$ <%= number_with_precision(total_quotation, precision: 2) %>
        </td>
      </tr>

        </tbody>
      </table>
    </div>

    <h3 class="text-xl font-semibold text-gray-700 mt-6">Checklist de Validação</h3>
    <p class="text-gray-600">Marque os itens que estão de acordo:</p>

    <div data-controller="approval">
      <%= form_with id: "checklistForm", url: approve_admin_quotation_response_path(@quotation_response), method: :patch, local: true do |f| %>
        <div class="space-y-2">
          <%= f.check_box :check_carimbo, { id: "check_carimbo" }, "1", "0" %>
          <%= f.label :check_carimbo, "Carimbo e assinaturas legíveis" %><br>

          <%= f.check_box :check_data, { id: "check_data" }, "1", "0" %>
          <%= f.label :check_data, "Data de validade válida" %><br>

          <%= f.check_box :check_produtos, { id: "check_produtos" }, "1", "0" %>
          <%= f.label :check_produtos, "Produtos correspondem à cotação" %><br>

          <%= f.check_box :check_valores, { id: "check_valores" }, "1", "0" %>
          <%= f.label :check_valores, "Valores individuais batem com o documento" %>
        </div>

        <div class="mt-4">
          <button type="button" data-action="click->approval#selecionarTodos" class="bg-gray-300 px-3 py-1 rounded">Selecionar Todos</button>
        </div>

        <div class="mt-6 flex space-x-4">
          <button type="button" id="btnAprovar" data-action="click->approval#showAprovarModal" class="bg-green-600 text-white px-4 py-2 rounded shadow hover:bg-green-700">Aprovar Cotação</button>
          <button type="button" id="btnReprovar" data-action="click->approval#showReprovarModal" data-action-url="<%= reject_admin_quotation_response_path(@quotation_response) %>" class="bg-red-600 text-white px-4 py-2 rounded shadow hover:bg-red-700">Reprovar Cotação</button>
        </div>
      <% end %>

      <!-- Modal de Aprovação -->
      <div id="modalAprovar" data-approval-target="modalAprovar" class="hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white p-6 rounded w-1/3 shadow-lg">
          <h2 id="modalAprovarTitulo" class="text-lg font-bold mb-2">Confirmar Aprovação</h2>
          <p id="modalAprovarMensagem">Tem certeza que deseja aprovar esta cotação?</p>
          <div class="mt-4 flex justify-end space-x-4">
            <button type="button" data-action="click->approval#confirmarAprovacao" class="bg-green-500 text-white px-4 py-2 rounded">Aprovar</button>
            <button type="button" data-action="click->approval#cancelarAprovacao" class="bg-gray-500 text-white px-4 py-2 rounded">Cancelar</button>
          </div>
        </div>
      </div>

      <!-- Modal de Reprovação -->
      <div id="modalReprovar" data-approval-target="modalReprovar" class="hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white p-6 rounded w-1/3 shadow-lg">
          <h2 class="text-lg font-bold mb-2">Confirmar Reprovação</h2>
          <p>Tem certeza que deseja reprovar esta cotação?</p>
          <div class="mt-4 flex justify-end space-x-4">
            <button type="button" data-action="click->approval#confirmarReprovacao" class="bg-red-500 text-white px-4 py-2 rounded">Reprovar</button>
            <button type="button" data-action="click->approval#cancelarReprovacao" class="bg-gray-500 text-white px-4 py-2 rounded">Cancelar</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
